body{
  margin:0px;
  /* display: flex; */
}
.header{
    background-color: #3e7fffb9;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-decoration: none;
    height: 60px;
    /* sticky */
    position: sticky;
    top: 0;
    
}

.active{
  margin: 10px;
  color: white;
  text-decoration: none;
}

.navlink{
  margin: 10px;
  color: rgb(159, 0, 0);
  text-decoration: none;
}

.pending{
  margin: 10px;
  color: rgb(255, 146, 146);
  text-decoration: none;
}

.footer{
  background-color: #3e7fffb9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-decoration: none;
  height: 60px;

  /* bottom of the page */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 80px;

}